.rain-container{
  display: flex;
  width: 100%;
  padding: 10px;
  padding-right: 0px;
}
.rain-container .rain-column{
  height: 100%;
  padding-right: 10px;
}
.rain-container[data-col="20"] .rain-column{ width: 5%; }
.rain-container[data-col="10"] .rain-column{ width: 10%; }
.rain-container[data-col="9"] .rain-column{ width: 11%; }
.rain-container[data-col="8"] .rain-column{ width: 12%; }
.rain-container[data-col="7"] .rain-column{ width: 13%; }
.rain-container[data-col="6"] .rain-column{ width: 16%; }
.rain-container[data-col="5"] .rain-column{ width: 20%; }
.rain-container[data-col="4"] .rain-column{ width: 25%; }
.rain-container[data-col="3"] .rain-column{ width: 33.33%; }
.rain-container[data-col="2"] .rain-column{ width: 50%; }
.rain-container[data-col="1"] .rain-column{ width: 100%; }

.rain-container .rain-column > * {
  display: block;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  background: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}
